.sticky {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.accordionClose {
    height: 0;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.accordionOpen {
    height: auto;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.accordionItem > p{
    color: black;
    overflow: hidden;
}
.billboard{
    background-size: 200% 100%;
    position: relative;
}
.background-shift{
    position: absolute;
    top: 0;
    left: -20px; /* Adjust the shift value as needed */
    width: 70%;
    height: 100%;
    z-index: -1;
    background-color: #EBF5FB; /* Your desired background color */
}

/* FOOTER LISTS */
.lists li:hover {
    opacity: 50%;
    cursor: pointer;
}















