.accordionClose {
    height: 0;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.accordionOpen {
    height: auto;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.accordionItem > p{
    color: black;
    overflow: hidden;
}
.billboard{
    background-size: 200% 100%;
    position: relative;
}
.background-shift{
    position: absolute;
    top: 0;
    left: -20px; /* Adjust the shift value as needed */
    width: 70%;
    height: 100%;
    z-index: -1;
    background-color: #EBF5FB; /* Your desired background color */
}
/* SLIDING ANIMATION */
.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
/* 
.animate-on-scroll {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
}

.animate-on-scroll.active {
    opacity: 1;
    transform: translateY(0);
} */